@charset "UTF-8";
#container{
	width:950px;
	margin:0 auto;
}
#inner{
	width:950px;
	margin:0 auto;
}
header{
	background-image: url(image3.jpeg width:950 height:200);
    	background-position: left top;
    	background-repeat: no-repeat;
	height:200px;
	width:950px;
	margin:0 auto;
}
dd{
	color:#ffffff;
}
dt{
	color:#ffffff;
}

nav{
	background-color:#efffff;
	height:100px;
	width:950px;
	margin:0 auto;
}
main{
	background-color:#ffddcc;
	height:400px;
	width:740px;
	float:left;
}

aside{
	background-color:#ffddcc;
	height:400px;
	width:190px;
	float:right;
}
footer{
	background-color:#efffff;
	height:200px;
	width:950px;
	margin:0 auto;
	clear:both;
}
table{
	border-style:solid;
}
th{
	padding:10px;
	background-color:#efffff;
	color:#ff00ff
}
td{
	padding:10px;
}
